<b>Python has 2 basic number types: 1) integers 2) floating-point numbers</b>

In [674]:
num = 12
name = 'Sam'

<b>Strings</b>

In [675]:
print('My number is: {one}, and my name is: {two}, more {one}'.format(one=num,two=name))

My number is: 12, and my name is: Sam, more 12

In [676]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [677]:
s = 'HelloMyNameIsNahid'
print(s[1:])
print(s[:-1]) #up to and not including character element at index (-1).
print(s[1:-1])
print(s[1:-1:2])

elloMyNameIsNahid
HelloMyNameIsNahi
elloMyNameIsNahi
elMNmINh

<b>Lists</b>

In [678]:
my_list = ['a','b','c',3.56,9]
my_list += 'hello'
print(my_list)
# print(my_list.append(678)) #output: None
my_list.append('maryam')
my_list.append(["g",678])
print(my_list)

['a', 'b', 'c', 3.56, 9, 'h', 'e', 'l', 'l', 'o']
['a', 'b', 'c', 3.56, 9, 'h', 'e', 'l', 'l', 'o', 'maryam', ['g', 678]]

<b>Dictionaries</b>

In [679]:
d = {'key1':'value1', 'key2':'value2', 'key3':123}

In [680]:
print(d['key1']) #dictionaries do NOT retain any order, they're just key/value pair mappings.

value1

In [681]:
dic = {'k1':{'innerkey':[1,2,3]}}

In [682]:
print(dic['k1']['innerkey'][2])

3

<b>Booleans</b>

In [683]:
True
False

False

<b>Tuples</b>

In [684]:
my_list = [1,3,6]
my_list[2] = 'Nahid'
my_list #lists are mutable.

[1, 3, 'Nahid']

In [685]:
my_tuple = (1,3,6)
my_tuple[2] = 'Nahid'
my_tuple #tuples are immutable! so you can't mutate the items inside of a tuple.

TypeError: 'tuple' object does not support item assignment

<b>Sets</b> (it's a collection of unique elements.)

In [242]:
my_set = {1,4,5,6,8,8,8}
print(my_set)
my_set.add("asd")
print(my_set)

{1, 4, 5, 6, 8}
{1, 4, 5, 6, 8, 'asd'}

In [241]:
set([1,3,4,5,6,6,6,6])

{1, 3, 4, 5, 6}

<b>While & For loops</b>

In [255]:
seq = [1,2,3,4,5]
for i in seq:
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [258]:
i = 1 
while i<5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [311]:
for i in range(6):
    print(i, end=" ")

0 1 2 3 4 5

In [313]:
list(range(5))

[0, 1, 2, 3, 4]

In [314]:
def my_func(name='Default Name'):
    """Documatation String or docstring.
    (can go multiple lines!)"""
    print('Hello '+name)

In [315]:
my_func()

Hello Default Name

In [316]:
my_func('Nahid')

Hello Nahid

In [319]:
def square(num):
    """This function squares a number."""
    return num**2

In [320]:
output = square(4)
print(output)

16

  <b>Map & Filter & Lambda functions</b>

In [361]:
def times2(var):
    return var*2
#lambda var:var*2

In [374]:
times2(4)

8

In [466]:
seq = list(range(1,6))
print(seq)

[1, 2, 3, 4, 5]

In [402]:
#we want to apply 'times2' function to every single element in 'seq' list.
map(times2, seq) #output: <map at 0x220271dab00>
list(map(times2, seq)) #we cast this into a list by using the built-in 'list' function.

[2, 4, 6, 8, 10]

In [504]:
#lambda var:var*2 #output: <function __main__.<lambda>(var)>
list(map(lambda var:var*2, seq))

[2, 4, 6, 8, 10]

In [530]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

<b>methods</b>

In [583]:
s = "Hello I'm Sam!"
s.lower() #output:"hello i'm sam!"
s.upper() #output:"HELLO I'M SAM!"

"HELLO I'M SAM!"

In [597]:
s.split() #output:['Hello', "I'm", 'Sam!']

['HelloMyNameIsNahid']

In [612]:
tweet = 'Go Sports! #Sports'
tweet.split('#') #output: ['Go Sports! ', 'Sports']
tweet.split('#')[1] #'Sports'

'Sports'

In [659]:
lst = ["aa",1,2,3]
lst.pop() #output: 3
lst #output: ['aa', 1, 2]
lst.pop(1) #output: 1
lst #output: ['aa', 2]
lst.append("eyuf")
lst #output: ['aa', 2, 'eyuf']

['aa', 2, 'eyuf']

<b>Tuple unpacking</b>

In [686]:
x = [(1,2),(3,4),(5,6)]
x[0] #output: (1, 2)
x[0][0] #output:1

1

In [688]:
for (a, b) in x:
    print(a)

1
3
5

In [689]:
for a, b in x:
    print(a)

1
3
5